<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head :: headFragment}">
    <meta charset="UTF-8">
    <title>Guess the Number Game - End</title>
</head>
<body>
    <div align="center">
        <h1>Guess the Number Game</h1>
        <h2>Game Over</h2>
        <h3 th:text="${RESULT_MESSAGE}">Result message</h3>
        <a href="restart">Play Again</a><br>
        <a href="/">Home</a>

        <footer th:replace="~{fragments/footer :: footerFragment}"></footer>
    </div>
</body>
</html>